footer{
    color: $light;
    height: 150px;
    // position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
}
.footer__container{
    border-top: 1px solid rgba(102, 102, 102, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--left{
        display: flex;
        align-items: center;
    }
}
// .footer__logo{
//     margin-right: 10px;
// }
.footer__contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__phone{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &-icon{
        margin-right: 2%;
    }
    
}
