.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__item {
    margin-right: 25px;
    position: relative;

    &:last-child {
        margin-right: 0;
    }

    &:hover:after{
        content: '';
        position: absolute;
        width: 150%;
        height: 2px;
        // background-color: $thirdColor;
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 10%, rgba($light, 0.7) 50%, rgba(0, 0, 0, 0) 85%);
        // bottom: 20px;
        left: 50%;
        transform: translate(-50%);
        margin-top: 40px;
    }
}

.menu__link {
    text-decoration: none;
}

.phone-number {
    text-decoration: none;
}

.header__right-part {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: baseline;
}