.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26px;
}

.menu__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu__link{
    text-decoration: none;
    margin-right: 25px;

    &:last-child{
        margin-right: 0;
    }
}



.phone-number{
    text-decoration: none;
}