.hero {
    background: 
    linear-gradient(to top, rgba(0, 0, 0, 0.9) 10%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.9) 85%),
    url("../img/background/hero_background.png") center center no-repeat;
    height: 100vh;
    min-height: 650px;
    color: $light;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.hero__address {
    font-size: 26px;
}

.hero__title-section {
    width: 50%;
}

.hero__main-title {
    font-size: 48px;
    text-transform: uppercase;
}

.hero__title-description {
    font-size: 26px;
}