.socials{
display: flex;
align-items: center;
justify-content: flex-end;
}
// .socials__item {
//     display: inline-block;
//     vertical-align: middle;
// }
.socials__item{
    position: relative;
    width: 88px;
    height: 88px;
}

.socials__link {
    position: absolute;
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%;
   
}

.socials__item--insta .socials__link {
    background-image: url("../img/icons/insta.svg");

    &:hover {
        background-image: url("../img/icons/insta-hover.svg");
    }
}

.socials__item--fb .socials__link {
    background-image: url("../img/icons/facebook.svg");

    &:hover {
        background-image: url("../img/icons/facebook-hover.svg");
    }
}

.socials__item--telegram .socials__link {
    background-image: url("../img/icons/tg.svg");

    &:hover {
        background-image: url("../img/icons/tg-hover.svg");
    }
}
.socials__item--whatsapp .socials__link {
    background-image: url("../img/icons/whatsapp.svg");

    &:hover {
        background-image: url("../img/icons/whatsapp-hover.svg");
    }
}